


#tokri{
    padding: 3px;
    border-radius: 50%;
    background-color: pink;
    color: rgb(100, 57, 57);
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
    border: 1px solid rgb(174, 113, 113);
}

.cartdata
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

#homeProduct
{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

#checkout{
    display: flex;
    justify-content: space-evenly;
}

#data{
    display: flex;
    justify-content: space-around;
}